<div class="desktop1-container">
  <div class="desktop1-desktop1">
    <div class="desktop1-header">
      <span class="desktop1-text">
        Home     Menu     About    Healthy    Contact
        <span [innerHTML]="rawr2bh"></span>
      </span>
      <span class="desktop1-text01">
        <span>
          Miska, muska, maaaamaaaaaame el guuuuueeebooo.
        </span>
      </span>
      <div class="desktop1-group4">
        <img
          alt="Rectangle381454"
          src="/assets/playground_assets/rectangle381454-hr7s-200h.png"
          class="desktop1-rectangle38"
        />
        <span class="desktop1-text03"><span>Get started</span></span>
        <span class="desktop1-text05">
          <span>✨ PequeStars</span>
          <br />
        </span>
      </div>

    <img
      alt="Vector11455"
      src="/assets/playground_assets/vector11455-sj2l.svg"
      class="desktop1-vector1"
    />
    <img
      alt="Ellipse181455"
      src="/assets/playground_assets/ellipse181455-i8in-200h.png"
      class="desktop1-ellipse18"
    />
    <img
      alt="spaceship11455"
      src="/assets/playground_assets/spaceship11455-w5gp.svg"
      class="desktop1-spaceship1"
    />
    <img
      alt="Vector41467"
      src="/assets/playground_assets/vector41467-fdyq.svg"
      class="desktop1-vector4"
    />
  </div>
      
    <div class="desktop1-section4">
      <img
        alt="planet1511"
        src="/assets/playground_assets/planet1511-qjsz.svg"
        class="desktop1-planet"
      />
      <img
        alt="Ellipse191512"
        src="/assets/playground_assets/ellipse191512-f0kh-200h.png"
        class="desktop1-ellipse19"
      />
      <div class="desktop1-venus">
        <div class="desktop1-group">
          <div class="desktop1-group01">
            <img
              alt="Vector1512"
              src="/assets/playground_assets/vector1512-xgx.svg"
              class="desktop1-vector"
            />
            <div class="desktop1-group02">
              <img
                alt="Vector1512"
                src="/assets/playground_assets/vector1512-0rvk.svg"
                class="desktop1-vector001"
              />
              <img
                alt="Vector1513"
                src="/assets/playground_assets/vector1513-ho79.svg"
                class="desktop1-vector002"
              />
              <img
                alt="Vector1513"
                src="/assets/playground_assets/vector1513-drhj.svg"
                class="desktop1-vector003"
              />
            </div>
          </div>
        </div>
      </div>
      <img
        alt="Ellipse201513"
        src="/assets/playground_assets/ellipse201513-c40o-200h.png"
        class="desktop1-ellipse20"
      />
      <img
        alt="Vector61513"
        src="/assets/playground_assets/vector61513-stre.svg"
        class="desktop1-vector6"
      />
      <img
        alt="Vector71513"
        src="/assets/playground_assets/vector71513-q7f.svg"
        class="desktop1-vector7"
      />
      <span class="desktop1-text08"><span>Platos Fuertes</span></span>
      <span class="desktop1-text10"><span>Desayunos</span></span>
      <span class="desktop1-text12"><span>✨ Our Menu ✨</span></span>
      <div class="desktop1-ufo1">
        <div class="desktop1-group03">
          <img
            alt="Vector1672"
            src="/assets/playground_assets/vector1672-pgvm.svg"
            class="desktop1-vector004"
          />
          <div class="desktop1-group04">
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-v22r.svg"
              class="desktop1-vector005"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-l1c.svg"
              class="desktop1-vector006"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-knbf.svg"
              class="desktop1-vector007"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-cgn.svg"
              class="desktop1-vector008"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-9uqc.svg"
              class="desktop1-vector009"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-p3m.svg"
              class="desktop1-vector010"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-el6.svg"
              class="desktop1-vector011"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-5hps.svg"
              class="desktop1-vector012"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-uu8.svg"
              class="desktop1-vector013"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-ty2s.svg"
              class="desktop1-vector014"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-sb2g.svg"
              class="desktop1-vector015"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-2qx.svg"
              class="desktop1-vector016"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-2ht9.svg"
              class="desktop1-vector017"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-hfs9.svg"
              class="desktop1-vector018"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-lyue.svg"
              class="desktop1-vector019"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-rjee.svg"
              class="desktop1-vector020"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-6bd.svg"
              class="desktop1-vector021"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-n6u.svg"
              class="desktop1-vector022"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-844s.svg"
              class="desktop1-vector023"
            />
            <div class="desktop1-group05">
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-9tt.svg"
                class="desktop1-vector024"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-94t.svg"
                class="desktop1-vector025"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-sjca.svg"
                class="desktop1-vector026"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-j40l.svg"
                class="desktop1-vector027"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-pgpp.svg"
                class="desktop1-vector028"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-6yc.svg"
                class="desktop1-vector029"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-nqb1.svg"
                class="desktop1-vector030"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-h7n.svg"
                class="desktop1-vector031"
              />
              <img
                alt="Vector1673"
                src="/assets/playground_assets/vector1673-2bv8.svg"
                class="desktop1-vector032"
              />
            </div>
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-1qml.svg"
              class="desktop1-vector033"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-7gwh.svg"
              class="desktop1-vector034"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-pmn8.svg"
              class="desktop1-vector035"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-l75.svg"
              class="desktop1-vector036"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-qm1.svg"
              class="desktop1-vector037"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-8z2.svg"
              class="desktop1-vector038"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-yuyo.svg"
              class="desktop1-vector039"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-l7tc.svg"
              class="desktop1-vector040"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-ia0l.svg"
              class="desktop1-vector041"
            />
            <img
              alt="Vector1673"
              src="/assets/playground_assets/vector1673-zrhs.svg"
              class="desktop1-vector042"
            />
          </div>
        </div>
      </div>
      <div class="desktop1-ufo">
        <div class="desktop1-group06">
          <img
            alt="Vector1672"
            src="/assets/playground_assets/vector1672-786p.svg"
            class="desktop1-vector043"
          />
          <div class="desktop1-group07">
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-t47f.svg"
              class="desktop1-vector044"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-8ar.svg"
              class="desktop1-vector045"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-4mlf.svg"
              class="desktop1-vector046"
            />
            <div class="desktop1-group08">
              <img
                alt="Vector1672"
                src="/assets/playground_assets/vector1672-z7ee.svg"
                class="desktop1-vector047"
              />
              <img
                alt="Vector1672"
                src="/assets/playground_assets/vector1672-77ig.svg"
                class="desktop1-vector048"
              />
              <img
                alt="Vector1672"
                src="/assets/playground_assets/vector1672-1www.svg"
                class="desktop1-vector049"
              />
            </div>
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-hbbo.svg"
              class="desktop1-vector050"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-v277.svg"
              class="desktop1-vector051"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-3ux.svg"
              class="desktop1-vector052"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-f2zq.svg"
              class="desktop1-vector053"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-86j9.svg"
              class="desktop1-vector054"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-cvwr.svg"
              class="desktop1-vector055"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-2h6i.svg"
              class="desktop1-vector056"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-qsj6.svg"
              class="desktop1-vector057"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-bdgv.svg"
              class="desktop1-vector058"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-zajm.svg"
              class="desktop1-vector059"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-s9fd.svg"
              class="desktop1-vector060"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="desktop1-section5">
      <div class="desktop1-mercury">
        <div class="desktop1-group09">
          <img
            alt="Vector1514"
            src="/assets/playground_assets/vector1514-uz6.svg"
            class="desktop1-vector061"
          />
          <div class="desktop1-group10">
            <img
              alt="Vector1514"
              src="/assets/playground_assets/vector1514-h8za.svg"
              class="desktop1-vector062"
            />
            <img
              alt="Vector1514"
              src="/assets/playground_assets/vector1514-n6v2j.svg"
              class="desktop1-vector063"
            />
            <img
              alt="Vector1514"
              src="/assets/playground_assets/vector1514-mpjf.svg"
              class="desktop1-vector064"
            />
            <img
              alt="Vector1514"
              src="/assets/playground_assets/vector1514-hii.svg"
              class="desktop1-vector065"
            />
            <img
              alt="Vector1514"
              src="/assets/playground_assets/vector1514-kjzg.svg"
              class="desktop1-vector066"
            />
          </div>
        </div>
      </div>
      <img
        alt="Ellipse211514"
        src="/assets/playground_assets/ellipse211514-5gv-200h.png"
        class="desktop1-ellipse21"
      />
      <div class="desktop1-neptune">
        <div class="desktop1-group11">
          <div class="desktop1-group12">
            <img
              alt="Vector1515"
              src="/assets/playground_assets/vector1515-px1.svg"
              class="desktop1-vector067"
            />
          </div>
          <div class="desktop1-group13">
            <img
              alt="Vector1515"
              src="/assets/playground_assets/vector1515-hk9e.svg"
              class="desktop1-vector068"
            />
            <img
              alt="Vector1515"
              src="/assets/playground_assets/vector1515-mjpf.svg"
              class="desktop1-vector069"
            />
          </div>
          <img
            alt="Vector1515"
            src="/assets/playground_assets/vector1515-jihq.svg"
            class="desktop1-vector070"
          />
          <img
            alt="Vector1515"
            src="/assets/playground_assets/vector1515-assj.svg"
            class="desktop1-vector071"
          />
          <img
            alt="Vector1515"
            src="/assets/playground_assets/vector1515-peq.svg"
            class="desktop1-vector072"
          />
          <div class="desktop1-group14">
            <img
              alt="Vector1515"
              src="/assets/playground_assets/vector1515-u0wj.svg"
              class="desktop1-vector073"
            />
            <img
              alt="Vector1516"
              src="/assets/playground_assets/vector1516-5h7d.svg"
              class="desktop1-vector074"
            />
          </div>
          <img
            alt="Vector1516"
            src="/assets/playground_assets/vector1516-zuz.svg"
            class="desktop1-vector075"
          />
          <img
            alt="Vector1516"
            src="/assets/playground_assets/vector1516-p48.svg"
            class="desktop1-vector076"
          />
        </div>
      </div>
      <img
        alt="Ellipse221516"
        src="/assets/playground_assets/ellipse221516-4r7-200h.png"
        class="desktop1-ellipse22"
      />
      <img
        alt="Vector81516"
        src="/assets/playground_assets/vector81516-oyj8.svg"
        class="desktop1-vector8"
      />
      <span class="desktop1-text14"><span>Entradas</span></span>
      <span class="desktop1-text16"><span>Postres</span></span>
      <div class="desktop1-spaceship11">
        <div class="desktop1-group15">
          <img
            alt="Vector1672"
            src="/assets/playground_assets/vector1672-rto9.svg"
            class="desktop1-vector077"
          />
          <div class="desktop1-group16">
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-5e1.svg"
              class="desktop1-vector078"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-hzhj.svg"
              class="desktop1-vector079"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-uik.svg"
              class="desktop1-vector080"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-a25.svg"
              class="desktop1-vector081"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-yfsg.svg"
              class="desktop1-vector082"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-acgd.svg"
              class="desktop1-vector083"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-qfuq.svg"
              class="desktop1-vector084"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-7ftv.svg"
              class="desktop1-vector085"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-cfge.svg"
              class="desktop1-vector086"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-ef3.svg"
              class="desktop1-vector087"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-81al.svg"
              class="desktop1-vector088"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-74af.svg"
              class="desktop1-vector089"
            />
            <div class="desktop1-group17">
              <img
                alt="Vector1672"
                src="/assets/playground_assets/vector1672-sfsn.svg"
                class="desktop1-vector090"
              />
              <img
                alt="Vector1672"
                src="/assets/playground_assets/vector1672-madh.svg"
                class="desktop1-vector091"
              />
              <img
                alt="Vector1672"
                src="/assets/playground_assets/vector1672-zytf.svg"
                class="desktop1-vector092"
              />
            </div>
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-u8zp.svg"
              class="desktop1-vector093"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-e4wj.svg"
              class="desktop1-vector094"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-2zqp.svg"
              class="desktop1-vector095"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-73b8.svg"
              class="desktop1-vector096"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-awmt.svg"
              class="desktop1-vector097"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-bpxr.svg"
              class="desktop1-vector098"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-70t4.svg"
              class="desktop1-vector099"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-f68n.svg"
              class="desktop1-vector100"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-tsa7.svg"
              class="desktop1-vector101"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-1gu.svg"
              class="desktop1-vector102"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-0lef.svg"
              class="desktop1-vector103"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-wl3.svg"
              class="desktop1-vector104"
            />
            <img
              alt="Vector1672"
              src="/assets/playground_assets/vector1672-il9s.svg"
              class="desktop1-vector105"
            />
          </div>
        </div>
      </div>
    </div>
    <img
      alt="Section61516"
      src="/assets/playground_assets/section61516-pxhs.svg"
      class="desktop1-section6"
    />
    </div>
  </div>